::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track-piece {
	background: #FFF;
	border-left: 1px solid #CCC;
}
::-webkit-scrollbar-thumb {
	width: 12px;
	background: #CCC;
}
::-webkit-scrollbar-thumb:hover {
	background: #999;
}
html {
	tab-size: 4;
	font-size: 100%;
webkit-text-size-adjust: 100%;
ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	color: #555;
	background-color: #E6EBEA;
	font-size: 15px;
	font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 25px;
}
header {
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	color: #333;
}
nav {
	text-align: center;
}
nav>a {
	 margin: 0 10px;
}
a:link,a {
	color: purple;
	text-decoration: none;
}
a:hover,a:focus {
	color: yellow;
	background: purple;
}
img {
	max-width: 600px;
	height: auto;
	border: 0;
ms-interpolation-mode: bicubic;
}
footer {
	color: #555;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	margin: -40px auto auto;
	display: block;
}
.container {
	width: 640px;
	margin: auto;
	*zoom: 1;
}
.wrapper {
	background-color: #FFF;
	margin: 10px 0 50px;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #A8ABAB;
}
.wrapper p img {
	clear: both;
}
p {
	color: #555;
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 14px;
}
.title {
	color: #555;
	font-size: 24px;
	line-height: 60px;
	font-weight: normal;
	margin: 0;
	text-rendering: optimizelegibility;
}
.listTitle {
	color: #777;
	font-size: 20px;
	font-weight: bold;
	line-height: 35px;
	background-color: #F2F8F7;
	margin: 20px -20px;
	padding: 0px 20px;
}
ul, ol {
	padding: 0;
	margin-left: 25px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li {
	line-height: 30px;
}
ul.unstyled {
	margin-left: 0;
	list-style: none;
}
hr {
	margin: 30px 0;
	border: 0;
	border-top: 1px solid #EEE;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
q {
	padding: 2px;
	border-radius: 3px;
	background-color: #DDD;
}
blockquote {
	padding: 0 0 0 14px;
	margin: 0 0 30px;
	border-left: 5px solid #EEE;
}
blockquote p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 34px;
	font-weight: 300;
	color: #777;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
code, pre {
	font-family: Monaco, Menlo, "Courier New", monospace;
	font-size: 12px;
}
code {
	padding: 3px 4px;
	color: #D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 3px;
}
pre {
	display: block;
	padding: 8px;
	margin: 0 0 30px;
	line-height: 20px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
}
.prettyprint.linenums{
	box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
	padding-left: 12px;
	color: #BEBEC5;
	line-height: 18px;
	text-shadow: 0 1px 0 #FFF;
}
.com {
	color: #93A1A1;
}
.lit {
	color: #AE81FF;
}
.pun, .opn, .clo {
	color: #93A1A1;
}
.fun {
	color: #DC322F;
	text-shadow: 0 1px 0 #FFF;
}
.str, .atv {
	color: #F9263C;
}
.kwd, .linenums .tag {
	color: #00A3D9;
}
.typ, .atn, .dec, .var {
	color: teal;
}
.pln {
	color: #48484C;
}
.pager {
	margin: 0 0 10px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before, .pager:after {
	display: table;
	content: "";
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager a {
	display: inline-block;
	padding: 5px 14px;
	border-radius: 14px;
}
.pager .next a {
	float: right;
}
.pager .previous a {
	float: left;
}
.label {
	padding: 3px 3px 2px;
	font-size: 11.25px;
	font-weight: bold;
	color: #FFF;
	background-color: #999;
	border-radius: 3px;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.postsList {
	margin: 0 0 10px;
}
.postsList li{
	list-style: none;
	padding: 5px 3px;
	margin: 0;
	border-bottom: 1px solid #EEE;
}
.postsList li time{
	color: #BBB;
	float: right;
	font-size: 14px;
}
.title time {
	color: #CED1D1;
	font-size: 16px;
}
.alert {
	text-align: center;
}
@media only screen and (max-width:768px) {
	.container {
		width: auto;
		padding: 20px;
	}
	header {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.wrapper {
		background-color: #FFF;
		margin: 10px 0 20px;
	}
}