/* Global */
::-webkit-scrollbar {
  width: .75em;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
body {
  color: #535353;
  background: #d4defe;
  font-size: 16px;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  margin: 0;
}
a,
a:link {
  color: #a97aba;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #a97aba;
  background: #fff298;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin: .7em 0 .2em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5,
h6 {
  font-size: 1.2em;
}
p {
  font-size: 16px;
  line-height: 1.7em;
  text-indent: 2em;
  text-align: justify;
  text-justify: ideographic;
  margin-bottom: 1.7em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
q {
  padding: 2px;
  border-radius: 4px;
  background: #d3eeff;
}
q:before {
  content: '「';
}
q:after {
  content: '」';
}
blockquote {
  color: #6a2a66;
  border-left: 4px solid #6a2a66;
  margin: 0;
  padding-left: 1em;
}
code {
  color: #fff;
  background: #272822;
  font-size: 12px;
  font-family: 'source code pro', Monaco, Menlo, 'Courier New', monospace;
  border-radius: 4px;
  word-break: keep-all;
  white-space: nowrap;
  padding: 4px;
}
.mask {
  background: #535353;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.container {
  width: 640px;
  margin: auto;
}

/* Home */
#main {
  width: 880px;
  font-size: 1.5em;
  line-height: 32px;
  margin: -116px 0 0 -440px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#links {
  width: 360px;
  margin: 0;
  padding: 0;
  position: relative;
}
#links li {
  text-align: right;
  list-style-type: none;
  margin: 8px 0;
  right: 520px;
}
#links li a {
  color: #535353;
}
#links li a span {
  padding: 4px;
  border-radius: 4px;
}
#links li:hover a span {
  background: #fff298;
}
#links li a span:before,
#links li a span:after {
  max-width: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  transition: all .5s ease-out;
}
#links li a span:before {
  content: attr(data-before);
}
#links li a span:after {
  content: attr(data-after);
}
#links li:hover a span:before,
#links li:hover a span:after {
  max-width: 200px;
  transition: all .5s ease-in .25s;
}
#links li:nth-child(7),
#links li:nth-child(8) {
  width: 100%;
  text-align: left;
  margin: 0;
  position: absolute;
  left: 520px;
}
#links li:nth-child(7) {
  top: 0;
}
#links li:nth-child(8) {
  bottom: 0;
}
#name {
  width: 160px;
  text-align: center !important;
  margin: 0 !important;
  position: absolute;
  left: 360px;
  top: -4px;
  transform: translateY(100px);
  transition: all .25s ease-out .25s;
}
#links li:nth-child(1):hover ~ #name,
#links li:nth-child(7):hover ~ #name {
  transform: translateY(0);
}
#links li:nth-child(2):hover ~ #name {
  transform: translateY(40px);
}
#links li:nth-child(3):hover ~ #name {
  transform: translateY(80px);
}
#links li:nth-child(4):hover ~ #name {
  transform: translateY(120px);
}
#links li:nth-child(5):hover ~ #name {
  transform: translateY(160px);
}
#links li:nth-child(6):hover ~ #name,
#links li:nth-child(8):hover ~ #name {
  transform: translateY(200px);
}
#name span:before,
#name span:after {
  content: attr(data-weizhenye);
  width: 152px;
  line-height: 32px;
  border-radius: 4px;
  padding: 4px 0;
  position: absolute;
  left: 4px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .5s ease-out .25s;
}
#name span:after {
  content: attr(data-woozy);
  transform: rotateX(180deg);
}
#links li:hover ~ #name span:before,
#links li:hover ~ #name span:after {
  background: #fff298;
}
#links li:nth-child(6):hover ~ #name span:before,
#links li:nth-child(8):hover ~ #name span:before {
  transform: rotateX(180deg);
}
#links li:nth-child(6):hover ~ #name span:after,
#links li:nth-child(8):hover ~ #name span:after {
  transform: rotateX(0);
}

/* Nav */
.site-nav ul {
  margin: 1em 0;
  padding: 0;
}
.site-nav li {
  display: inline-block;
}

/* 404 */
.yojohan {
  width: 200px;
  height: 200px;
  display: inline-block;
}
.yojohan:nth-child(2) {
  padding: 0 20px;
}

/* Articles */
.article img {
  max-width: 640px;
}
.article-header {
  margin-bottom: 3em;
}
.article-title {
  display: inline;
}
.article-info {
  line-height: 1.5em;
}
.article-nav:after {
  content: '';
  display: block;
  clear: both;
}
.article-nav a {
  border-radius: 8px;
  display: inline-block;
  padding: 16px 8px;
}
.article-nav a.float-left:before {
  content: '← ';
}
.article-nav a.float-right:after {
  content: ' →';
}
.list-year {
  font-size: 1.25em;
  font-weight: bold;
  background: #f3daff;
  padding: .25em .5em;
}
.article-list dd {
  margin: .5em 3em;
}
@media only screen and (max-width: 768px) {
  .container {
    width: auto;
    margin: 0 1em;
  }
}
