---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <time class="post-time">{{ page.date | date:"%Y-%m-%d" }}</time>
  </header>
  <section class="post-section">
    {{ content }}
  </section>
  <hr>
  <nav class="post-nav">
    {% if page.previous %}
    <span class="prev">
      <a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="next">
      <a href="{{ page.next.url }}">{{ page.next.title }} →</a>
    </span>
    {% endif %}
  </nav>
  <hr>
  <div id="disqus_thread"></div>
</article>

<script>
(function() {
  var disqus_shortname = '{{ site.disqusShortName }}';
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
