---
layout: default
---
<article class="article">
  <header class="article-header">
    <h2 class="article-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <time class="article-time">{{ page.date | date:"%Y-%m-%d" }}</time>
  </header>
  <section class="article-section">
    {{ content }}
  </section>
  <hr>
  <nav class="article-nav">
    {% if page.previous %}
    <span class="prev">
      <a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
    </span>
    {% endif %}
    {% if page.next %}
    <span class="next">
      <a href="{{ page.next.url }}">{{ page.next.title }} →</a>
    </span>
    {% endif %}
  </nav>
  <hr>
  <div id="disqus_thread"></div>
</article>
