---
layout: default
---
{% include nav.html %}
<article class="container article">
  <header class="article-header">
    <h1 class="article-title">{{ page.title }}</h1>
    <div class="article-info float-right">
      <time datetime="{{ page.date }}">{{ page.date | date:"%Y-%m-%d" }}</time>
      <div class="article-author">{{ site.author }}</div>
    </div>
  </header>
  <section class="article-section">
    {{ content }}
  </section>
  <hr>
  <nav class="article-nav">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="float-left" title="上一篇">{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" class="float-right" title="下一篇">{{ page.next.title }}</a>
    {% endif %}
  </nav>
  <hr>
  <div id="disqus_thread"></div>
</article>
