body
{
	font-family: 微软雅黑;
	background-color: black;
}
a
{
	text-decoration: none;
}
a:link,a:after
{
	color: purple;
}
a:hover,a:focus
{
	color: yellow;
	background: purple;
}
#worldline
{
	width: 340px;
	height: 75px;
	margin: auto;
	margin-top: 250px;
}
/*#worldline
{
	font-family:MingLiU;
	font-size: 150px;
	font-weight: lighter;
	color: #E7923D;
	text-shadow:  0px 0px 50px #A6431B;
	letter-spacing: -5px;
	text-align: center;
}*/
#itsme
{
	margin-top: 125px;
	font-size: 20px;
	color: #E7923D;
	text-shadow:  0px 0px 15px #A6431B;
	text-align: center;
}